:root{
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray500: hsl(0, 0%, 42%);
    --gray950: hsl(0, 0%, 7%);
    --purple: hsl(259, 79%, 48%);

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url(https://fonts.google.com/specimen/Figtree);

body{
    font-family: 'Figtree', sans-serif;
    background-color: var(--yellow)
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.card{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 15px;
    width: 385px;
    padding: 10px;
    box-shadow: 10px 10px black;
    border: 2px solid black;
}

.mini-title{
    font-size: 20px;
    font-weight: 800;
    padding: 0 10px;
    border-radius: 10px;
    background-color: var(--yellow);
}

.mini-text{
    font-size: 15px;
    font-weight: 500;
}

.main-title{
    font-size: 25px;
    font-weight: 800;
}

.main-title:hover{
    cursor: pointer;
    color: var(--purple)
}

.text{
    font-size: 15px;
    font-weight: 500;
    color: var(--gray500)
}

.card img{
    height: 100%;
    border-radius: 30px;
}

.author{
    display: flex;
    gap: 10px;
    align-items: center;
}

.author img{
    width:30px;
    height:30px;
}

.author .author-name{
    font-size: 20px;
    font-weight: bold;
    text-wrap: wrap;
    line-height: 100%;
}

@media screen and (max-width: 375px) {
    
}


